---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import Layout from "../layouts/main.astro";

// SEO Props
const title = "My Writing | Rishwanth Perumandla";
const description = "Explore Rishwanth Perumandla’s thoughts on cloud architecture, full stack development, systems thinking, and creative storytelling. A journey blending introspection and innovation.";
const canonicalUrl = "https://rishwanth.com/writing";
const ogImage = "/assets/images/og-image.png"; // Optional Open Graph image
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl} ogImage={ogImage}>
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Writing"
      description="Dive into my musings on life and tech in my latest posts; a blend of introspection and innovation. Keep an eye out for fresh insights and updates!"
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsLoop count="999999999" />
    </div>
  </section>
</Layout>
