---
import Logo from "../components/logo.astro";
---

<section class="text-gray-700 bg-white border-t sm:mt-20 dark:bg-neutral-950 border-neutral-200 dark:border-neutral-800">
  <div class="container flex flex-col items-center py-8 mx-auto px-7 max-w-7xl sm:flex-row">
    <Logo />
    <p class="mt-4 text-sm text-neutral-700 dark:text-neutral-100 sm:ml-4 sm:pl-4 sm:border-l sm:border-neutral-300 dark:sm:border-neutral-700 sm:mt-0">
      © {new Date().getFullYear()} Rishwanth Perumandla
    </p>

    <span class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start">

      <!-- LinkedIn -->
      <a
        href="https://www.linkedin.com/in/rishwanthperumandla/"
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
      >
        <span class="sr-only">LinkedIn</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5v-14c0-2.76-2.24-5-5-5zm-11.25 19h-3v-11h3v11zm-1.5-12.4c-.97 0-1.75-.79-1.75-1.75s.78-1.75 1.75-1.75c.97 0 1.75.79 1.75 1.75s-.78 1.75-1.75 1.75zm13.75 12.4h-3v-5.6c0-1.34-.03-3.06-1.87-3.06-1.87 0-2.15 1.46-2.15 2.96v5.7h-3v-11h2.88v1.5h.04c.4-.75 1.4-1.54 2.89-1.54 3.09 0 3.66 2.03 3.66 4.67v6.37z"/>
        </svg>
      </a>

      <!-- Twitter -->
      <a
        href="https://twitter.com/rishwanth1729"
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
      >
        <span class="sr-only">Twitter</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M22.46 6c-.77.35-1.5.59-2.28.7a4.07 4.07 0 001.8-2.24c-.77.46-1.62.78-2.52.96a4.1 4.1 0 00-7 3.74 11.6 11.6 0 01-8.4-4.26 4.05 4.05 0 001.26 5.45 4.07 4.07 0 01-1.86-.52v.05c0 2 1.42 3.7 3.3 4.08a4.1 4.1 0 01-1.85.07 4.1 4.1 0 003.83 2.85A8.23 8.23 0 012 18.58a11.63 11.63 0 006.29 1.85c7.55 0 11.68-6.26 11.68-11.68 0-.18-.01-.35-.02-.52a8.18 8.18 0 002.02-2.08z"/>
        </svg>
      </a>

      <!-- GitHub -->
      <a
        href="https://github.com/RishwanthPerumandla"
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
      >
        <span class="sr-only">GitHub</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.49 2 12.02c0 4.43 2.87 8.19 6.84 9.5.5.09.68-.22.68-.48v-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.61.07-.61 1 .07 1.53 1.03 1.53 1.03.89 1.53 2.34 1.09 2.91.83.09-.65.35-1.09.64-1.34-2.22-.25-4.56-1.11-4.56-4.95 0-1.1.39-1.99 1.03-2.69-.1-.25-.45-1.27.1-2.65 0 0 .84-.27 2.75 1.03a9.54 9.54 0 015 0c1.9-1.3 2.74-1.03 2.74-1.03.55 1.38.2 2.4.1 2.65.64.7 1.03 1.59 1.03 2.69 0 3.85-2.34 4.7-4.57 4.95.36.31.68.92.68 1.85v2.74c0 .26.18.57.69.48A10.01 10.01 0 0022 12.02C22 6.49 17.52 2 12 2z"/>
        </svg>
      </a>

      <!-- YouTube (RIPE) -->
      <a
        href="https://www.youtube.com/@ripe6096"
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
      >
        <span class="sr-only">YouTube</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 576 512" aria-hidden="true">
          <path d="M549.7 124.1c-6.3-23.8-24.9-42.5-48.7-48.9C455.2 64 288 64 288 64s-167.2 0-213 11.2c-23.8 6.4-42.5 25.1-48.8 48.9C16 168.9 16 256 16 256s0 87.1 10.2 131.9c6.3 23.8 24.9 42.5 48.7 48.9C120.8 448 288 448 288 448s167.2 0 213-11.2c23.8-6.4 42.5-25.1 48.8-48.9C560 343.1 560 256 560 256s0-87.1-10.3-131.9zM232 334.1V177.9L361 256l-129 78.1z"/>
        </svg>
      </a>

    </span>
  </div>
</section>
