---
import Square from "./square.astro";
---

<div
  class="relative flex w-full divide-x h-[40px] sm:h-[50px] md:h-[60px] lg:h-[80px] divide-neutral-200 divide-dashed"
>
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
</div>
