---
/* src/components/square-lines.astro */
---

<div class="absolute top-0 left-0 -z-10 h-[600px] w-full bg-[#fafafa]">
  <div 
    class="absolute h-full w-full bg-[linear-gradient(to_right,#e5e5e5_1px,transparent_1px),linear-gradient(to_bottom,#e5e5e5_1px,transparent_1px)] bg-[size:40px_40px] [mask-image:linear-gradient(to_bottom,black_20%,transparent_100%)]"
  ></div>
</div>