---
import SquareLine from "./square-line.astro";
---

<div class="absolute top-0 left-0 w-full h-[400px] md:h-[500px] lg:h-[600px] overflow-hidden pointer-events-none" style="z-index: -1;">
  {/* Left half */}
  <div class="absolute top-0 left-0 w-1/2 h-full">
    {/* Gradient fade from center to left edge */}
    <div class="absolute inset-0 z-30 w-full h-full bg-gradient-to-tl from-[#fafafa] from-50% via-transparent to-transparent"></div>
    
    {/* Grid container */}
    <div class="flex flex-col w-full h-full border-t border-l border-neutral-200 divide-y divide-dashed divide-neutral-200">
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
    </div>
  </div>

  {/* Right half */}
  <div class="absolute top-0 right-0 w-1/2 h-full">
    {/* Gradient fade from center to right edge */}
    <div class="absolute inset-0 z-30 w-full h-full bg-gradient-to-tr from-[#fafafa] from-50% via-transparent to-transparent"></div>
    
    {/* Grid container */}
    <div class="flex flex-col w-full h-full border-t border-r border-neutral-200 divide-y divide-dashed divide-neutral-200">
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
      <SquareLine />
    </div>
  </div>
</div>
